<h2>How's it going?</h2>

<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
  <div class="ui-slider-range ui-widget-header"></div>
  <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
	<br />
</div>

<br />
<div id="rating_value"></div>
<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label">Category: </label>
        <div class="controls">
            <select id='categorySelect'>
                <option value="1">General</option>
                <option value="2">Work</option>
                <option value="3">Love</option>
                <option value="4">Health</option>
                <option value="5">Social</option>
            </select>
        </div>
        </div>
        <div class="control-group">
            <label class="control-label">Notes: </label>
        <div class="controls">
            <textarea id='notes' style='height:70px;width:820px;'></textarea>
        </div>
        </div>
    </fieldset>
</form>

<br />
<p><a id='rateBtn' class="btn btn-primary btn-large">Rate &raquo;</a></p>
<!-- p><a id='clearRateListBtn' class="btn btn-primary btn-large">Clear Ratings List &raquo;</a></p -->